@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

@import "./layout/layout";
@import "./components/buttons";

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-white: white;
  --color-black: black;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-3: #ccc;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --border-line: 1px solid var(--color-grey-light-2);

  --padding-div: 3rem;
}

*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is - 10px (62.5% of the standard 16px in browserw) - so can easily calculate rem later
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-primary-light),
  //   var(--color-primary-dark)
  // );
  line-height: 1.7;
  // padding: 2rem;
  box-sizing: border-box;
}
