@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';

@import '../base/animations';
@import '../base/typography';
@import '../base/utilities';

.detail {
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
  font-size: 1.4rem;

  @media only screen and(max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and(max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media only screen and(max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and(max-width: $bp-small) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  margin: 2rem 0;
  padding: 2rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &-icon {
      fill: var(--color-primary);
      margin-right: 0.7rem;
    }
  }
}

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &-avatar {
    display: flex;
    align-items: center;
  }
}
