@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../base/animations";
@import "../base/typography";
@import "../base/utilities";

.detail {
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
}

.description {
  font-size: 1.4rem;
  // background-color: pink;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);
}

.user-reviews {
  background-color: blue;
  flex: 1;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  margin: 2rem 0;
  padding: 2rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &-icon {
      fill: var(--color-primary-light);
      margin-right: 0.7rem;
    }
  }
}

.recommend {
  display: flex;
  position: relative;
  &-avatar {
    box-sizing: content-box;

    & > span {
      position: absolute;
      margin-right: -1rem;
      border-radius: 100px;
    }
  }
}
