.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-size: 1.7rem;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}

.iconWrapper {
  grid-row: 1 / span 2;
  transform: translateY(-1rem);
}

.icon {
  font-size: 5rem;
  fill: var(--color-grid);
}

.title {
  font-weight: 600;
}

.text {
  font-weight: 300;
}
