@import "../../sass/base/animations";
@import "../../sass/base/typography";
@import "../../sass/abstracts/variables";

.container {
}

.sidebar {
  background-color: pink;
}

.header {
  background-color: green;
}

.realtors {
  background-color: yellow;
}

.features {
  background-color: magenta;
}

.storyPicture {
  background-color: grey;
}

.storyContent {
  background-color: lightblue;
}

.homes {
  background-color: gold;
}

.gallery {
  background-color: var(--color-grid);
}

.footer {
  background-color: var(--color-grid-dark);
}
