@import '../abstracts/variables';

.avatar-box {
  height: 4rem;
  width: 4rem;
  position: relative;
  & > span {
    border-radius: 100px;
  }
}

.avatar-box-border {
  @extend .avatar-box;

  box-sizing: content-box;
  border-radius: 100px;
  border: 2px solid white;
}

.avatar-image {
  object-fit: cover;
}
