@import "../../sass/base/animations";
@import "../../sass/base/typography";

.wrapper {
  min-height: 100vh;
  padding: 5rem;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.container {
  max-width: 120rem;
  // margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

//////////////////////
// HEADER

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &Icon {
    margin-left: 3rem;
    height: 3.75rem;
    width: 3.75rem;
    fill: var(--color-primary-light);
  }
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  &Input {
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-2);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      background-color: var(--color-grey-light-4);
    }
  }

  &Button {
    border: none;
    background-color: var(--color-grey-light-2);
  }

  &Icon {
    fill: var(--color-grey-dark-2);
    height: 2rem;
    width: 2rem;
  }
}

.userNav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &IconBox {
    position: relative;
  }

  &Icon {
    fill: var(--color-grey-dark-2);
    height: 2.25rem;
    width: 2.25rem;
  }

  &Notification {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    color: #fff;
    background-color: var(--color-primary-light);
    position: absolute;
    top: 1.7rem;
    right: 1.5rem;
  }

  &AvatarBox {
    box-sizing: content-box;

    & > span {
      border-radius: 100px;
    }
  }
}

//////////////////////
// SIDE NAVIGATION

.sideBar {
  background-color: var(--color-grey-dark-1);
  flex: 00 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideNav {
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;

  &Item {
    font-size: 1.5rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary-dark);
      transform: scaleY(0);
      // https://cubic-bezier.com/#.17,.67,.83,.67
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &Link {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    &:hover {
      color: var(--color-grey-light-1);
    }
  }

  &Icon {
    font-size: 1.75rem;
    fill: currentColor;
  }

  &Text {
    margin-left: 2rem;
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-1);
}

//////////////////////
// HOTEL VIEW

.hotelView {
  height: 80rem;
  background-color: var(--color-white);
  flex: 1;

  &Gallery {
    display: flex;
    width: 100%;
    height: 25%;
    position: relative;
  }

  &Overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);

    &Text {
      display: flex;
      font-size: 2.25em;
      letter-spacing: 1px;
      font-weight: 300;
      padding: 1rem 1.5rem;
    }

    &Rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 2rem;
    }

    &Icon {
      font-size: 2rem;
      fill: var(--color-primary-light);
      margin-right: 0.5rem;
    }

    &Info {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      &Location {
        color: var(--color-primary-light);
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }

      &Votes {
        margin-left: 3rem;
        background-color: var(--color-primary-light);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;

        &Text {
          font-size: 2.25em;
          letter-spacing: 1px;
          font-weight: 300;
          line-height: 1;
        }
      }
    }
  }
}

.inlineButton {
  display: inline;
  cursor: pointer;
  color: var(--color-primary-light);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
