.hotelSubHeaderLink {
  &:link,
  &:visited {
    color: var(--color-grey-dark-1);
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-grey-light-4);
  }
}
.subHeaderLink {
  &:link,
  &:visited {
    color: var(--color-white);
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-grey-light-4);
  }
}

.headerPrimary {
  color: var(--color-white);
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &Main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    @media screen and (min-width: 700px) {
      animation: moveInLeft 1s;
    }
  }

  &Sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-left: -0.6rem;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    @media screen and (min-width: 700px) {
      animation: moveInRight 1s;
    }
  }
}
