@import "../styles/mixins";
$color-primary: blueviolet;
// #34669c
// #338be3

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(#75b0eccc, #338be3cc),
    url("../public/seamus.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBox {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  border-radius: 50px;
  animation: rotateLogo 1s;
  // animation-iteration-count: infinite;
}

.textBox {
  margin-top: -5%;
  margin-right: -25px;
}

.headerPrimary {
  color: #fff;
  backface-visibility: hidden;
}

.headerPrimaryMain {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 25px;
  animation: moveInLeft 1s;
}

.headerPrimarySub {
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 20px;
  animation: moveInRight 1s;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  // 80% {
  //   transform: translateX(10px);
  // }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .title a {
//   color: $color-primary;
//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   margin: 0;
//   line-height: 1.15;
//   font-size: 4rem;
// }

// .title,
// .description {
//   text-align: center;
// }

// .description {
//   line-height: 1.5;
//   font-size: 1.5rem;
// }

// .grid {
//   @include desktop() {
//     width: 100%;
//     flex-direction: column;
//   }

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;

//   max-width: 800px;
//   margin-top: 3rem;
// }

// .card {
//   margin: 1rem;
//   flex-basis: 45%;
//   padding: 1.5rem;
//   text-align: left;
//   color: inherit;
//   text-decoration: none;
//   border: 1px solid #eaeaea;
//   border-radius: 10px;
//   transition: color 0.15s ease, border-color 0.15s ease;
// }

// .card:hover,
// .card:focus,
// .card:active {
//   color: $color-primary;
//   border-color: $color-primary;
// }

// .card h3 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   margin: 0;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }
